* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 100;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

.mlr {
    padding: 0 100px;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo h2 {
    color: aqua;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.nav-links .nav-items li a:hover {
    color: #007bff;
}

.nav-links .nav-items li a.active {
    color: #007bff;
}

.hero-container {
    background-image: url(/assets/images/background1.JPG);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.hero-text {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}

.hero-text h2 {
    font-size: 5.5rem;
}

.hero-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tit-btn {
    padding: 25px 22px;
    background-color: hsl(180, 100%, 50%);
    border: none;
    width: 200px;
    font-size: 20px;
}

.tit-btn:hover {
    background-color: rgb(246, 115, 14);
    color: #fff;
}


.opp-btn {
    background-color: rgb(246, 115, 14);
    border: none;
    width: 200px;
    font-size: 20px;

}

.nav-links .opp-btnn {
    background-color: rgb(246, 115, 14);
    border: none;
    padding: 12px 22px;
    font-size: 20px;

}

.nav-links .opp-btnn:hover {
    background-color: #3498db;
    color: #fff;
}

.opp-btn:hover {
    background-color: #3498db;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    z-index: 50;
    position: absolute;
    top: -100px;
}

.box {
    width: 33.3%;
    padding: 50px;
    color: white;
    text-align: left;
}

.box h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.box p {
    font-size: 18px;
    margin: 20px 0;
}

.opening-hours {
    background: #007bff;

}

.btn {
    background-color: #eef9ff;
    color: #000;
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
}

.search-doctor {
    background: #001A33;
    display: flex;
    flex-direction: column;
}

.search-doctor input {
    background-color: #ccc;
    padding: 15px;
    margin: 20px 0;
}

.search-doctor select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #595252;
    background-color: #faf7f7;
}


.make-appointment {
    background: #ff6600;
    font-size: 1.5rem;
}

#About-Us-Cont {
    margin-top: 400px;
    padding: 0 100px;
}

#About-Us-Cont #About-Us h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(0, 166, 255);
}

#About-Us {
    display: flex;
    align-items: center;
    gap: 5px;
}

#About-Us-Cont .hit1 {
    display: flex;
    justify-content: space-between;
}

#About-Us-Cont .hit1 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#About-Us-Cont .hit1 h3 {
    margin-bottom: 10px;
    color: #595252;
    font-size: 1.5rem;
}

#About-Us-Cont .pit1 {
    margin-bottom: 2rem;

}

#About-Us-Cont .tip-bnt {
    padding: 24px 48px;
    background-color: hwb(200 35% 11%);
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 0 !important;
}

#About-Us-Cont .tip-bnt:hover {
    background-color: #ff6600;
}

.line-1 {
    background-color: #007bff;
    height: 2px;
    width: 40px;

}

.line-2 {
    background-color: #ff6600;
    height: 2px;
    width: 40px;
}

#About-Us-Cont ul {
    list-style: none;
    margin-bottom: 20px;

}

ul li {
    margin-bottom: 8px;
}

.list1 {
    float: left;
    margin-right: 70px;

}

.img {
    margin-right: 40px;
}


.certification-section {
    background-image: url(/assets/images/background1.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
}

.certification-section .left-section {
    color: #fff;
    width: 50%;
    padding: 155px 40px;
}

.certification-section .left-section h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.appointment-container {
    background: rgba(0, 115, 230, 0.7);
    padding: 155px 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 50%;
    margin-right: 40px;
}

.appointment-container h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.appointment-container form .form-row {
    display: flex;
    gap: 20px;
}

.appointment-container form .form-row select,
.appointment-container form .form-row input {
    width: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 25px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #595252;
    background-color: #faf7f7;

}

.appointment-container form .appoint-btn {
    color: #faf7f7;
    background-color: #061b32;
    width: 100%;
    border: none;
    outline: none;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 700;
}

.services-section {
    padding: 40px;
}

.services-section .our-services {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.services-section .our-services .twentytwenty-container {
    position: relative;
    width: 40%;
    height: 600px;
    overflow: hidden;
    cursor: ew-resize;
}

.services-section .our-services .twentytwenty-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.after-img {
    clip-path: inset(0 50% 0 0);
    transition: clip-path 0.2s ease-out;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: white;
    transform: translateX(-50%);
    z-index: 2;
}

.handle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    border: 3px solid #888;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle::before {
    content: "⇆";
    font-size: 16px;
    color: #444;
}

.label {
    position: absolute;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 14px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 4;
}

.container:hover .label {
    opacity: 1;
}

.before-label {
    top: 20px;
    left: 20px;
}

.after-label {
    top: 20px;
    right: 20px;
}

.services-section .our-services .services-container {
    width: 60%;
}

.services-section .our-services .services-container .services-line {
    display: flex;
    align-items: center;
    gap: 10px;
}

.services-section .our-services .services-container .services-line h4 {
    font-size: 24px;
    color: #3498db;
}

.services-section .our-services .services-container .we-offer h2 {
    font-size: 40px;
    margin-bottom: 50px;
    width: 90%;
    line-height: 60px;
}

.services-section .services-img {
    display: flex;
    text-align: center;
    gap: 50px;
}

.services-section .services-img .services-img-div {
    background-color: #c9cdd0;
}

.services-section .services-img .services-img-div p {
    margin: 40px 0;
    font-size: 22px;

}

.our-Den {
    display: flex;
    gap: 40px;
    padding: 40px 0;
}

.our-Den .dem-mama {
    margin-bottom: 50px;
    background-color: #c9cdd0;
    max-height: 290px;

}

.our-Den .dem-mama p {
    font-size: 22px;
    margin: 40px 0;
    text-align: center;
}

.our-Den .mak-app {
    background: #5b8abc;
    color: #fff;
    text-align: center;
    padding: 60px;
    border-radius: 5px;
    font-family: arial, sans-serif;
    font-weight: bold;
    max-height: 290px;
}

.our-Den .mak-app h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.our-Den .mak-app p {
    font-weight: normal;
}

.our-Den .mak-app h3 {
    font-size: 50px;
    margin-top: 30px;
}


.save-section {
    background-image: url(/assets/images/background1.JPG);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 40px;
    color: #fff;
    text-align: center;


}

.save-check {
    background-color: rgba(0, 115, 230, 0.7);
    padding: 40px;
    border: none;
    width: 50%;
    margin: auto;
}

.save-check .brb-check h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

}

.save-check .type-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.save-section .save-btn:hover {
    background-color: #ff6600;
}

.save-section .red-btn:hover {
    background-color: #ff6600;
}

.save-btn {
    padding: 10px 10px;
    background-color: #050509;
    border: none;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 30px;
}

.red-btn {
    background-color: #ccc;
    border: none;
    color: #050509;
    font-size: 18px;
    padding: 15px 30px;

}

.we-section {
    padding: 30px 20px;
    display: flex;
    gap: 30px;
    margin: 100px 0;
}

.we-section .price-plan #About-Us h4 {
    font-size: 24px;
    color: #3498db;
}

.we-section .price-plan .we-section-container .line h2 {
    font-size: 50px;
    margin-bottom: 20px;
    width: 80%;
    line-height: 60px;
    margin-top: 10px;
}

.we-section .price-plan .we-section-container .line p {
    font-size: 18px;
    color: #4e4747;
}

.we-section .price-plan .we-section-container .line h3 {
    font-size: 20px;
    color: #3498db;
    margin-top: 20px;

}

.we-section .price-plan .we-section-container .line h4 {
    font-weight: 700;
    margin-top: 10px;
    font-size: 40px;
}

.image-section {
    display: flex;
    gap: 40px;
}

.image-section .Price-details {
    position: relative;
    background-color: #eef9ff;
}

.Price-details .modern-price {
    padding: 30px;
}

.image-section .Price-details .Price {
    background-color: rgb(127, 202, 255);
    width: 100px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    left: 40%;
    top: 220px;
}

.Price-details .modern-price h3 {
    text-align: center;
    font-family: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.Price-details .modern-price .span-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.Price-details .modern-price .dollar-btn {
    position: absolute;
    bottom: -15px;
    background-color: #007bff;
    padding: 12px 22px;
    border: none;
    color: #fff;
    left: 40%;
    font-size: 22px;
}

.footer {
    background: #0b3c5d;
    color: #fff;
    padding-top: 20px;

}

.footer-top {
    background: #148fe1;
    padding: 20px;
    text-align: center;
}

.footer-top input[type="email"] {
    padding: 10px;
    width: 250px;
    max-width: 80%;
    border: none;
    margin-right: 10px;
}

.footer-top button {
    padding: 10px 20px;
    background: #2c3e50;
    color: #fff;
    border: none;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background: #082f49;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 5px 0;
}

.footer-column a:hover {
    color: #fff;
}

.footer-column p {
    margin: 8px 0;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    background: #3498db;
    padding: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background: #061d30;
    border-top: 1px solid #0b3c5d;
}